body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.name{
    color: darkblue;
}
.blog{
    color: darkorange;
}
.flexible-container{
    display: flex;
    margin-bottom: 150px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    
}
.half-width img{
    width: 80%;
}
.Button{
    text-decoration: none;
    background-image: linear-gradient(blue, gold, purple);
    padding: 10px 30px;
    color:red;
    font-weight: 800;
    border-radius: 10%;
}
.banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.my-dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: indigo;
}
.gold{
    color: goldenrod;
}
.experience-item{
    box-shadow:10px 10px 40px grey;
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 5%;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice:1;
}
#full-stack-experience{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(0, 4, 255), rgb(0, 255, 98));
    border-image-slice:1;
}
footer p{
    text-align: center;
}